
streamlit
pandas
numpy
streamlit-option-menu
streamlit-autorefresh
streamlit-pdf
scikit-learn>=1.3.0
sentence-transformers>=2.2.2
torch>=2.1.0
transformers>=4.35.0
matplotlib>=3.7.0
st-gsheets-connection
